body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lightpink;
}

/* Mobile */
@media screen and (max-width: 600px) {
  video,
  canvas {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* Pastikan aspek rasio tetap 4:3 */
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  video,
  canvas {
    width: 80%;
    height: auto;
    aspect-ratio: 4 / 3;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  video,
  canvas {
    width: 60%;
    height: auto;
    aspect-ratio: 4 / 3;
  }
}

/* CONTAINER UTAMA */
#container {
  margin: 20px auto;
  padding: 20px;
  background: lightblue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
}

/* FRAME VIDEO */
#frame {
  position: relative;
  display: inline-block;
}

/* STYLE VIDEO CANVAS */
video {
  border: 2px solid #333;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  transform: scaleX(-1); /* BALIK KAMERA DEPAN */
}
canvas {
  border: 2px solid #333;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  transform: scaleX(-1); /* BALIK KAMERA DEPAN */
}

/* STYLE TIMER */
#timer-container {
  margin: 10px 0;
}

#timer {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

/* STYLE BUTTON */
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: lightcoral;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

/* STYLE BUTTON DOWNLOAD*/
#download {
  background-color: #4caf50; /* Warna latar belakang hijau */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0; /* Margin atas dan bawah */
  cursor: pointer;
  border-radius: 8px; /* Sudut bulat */
  transition: background-color 0.3s ease; /* Transisi untuk efek hover */
}

#download:hover {
  background-color: lightsalmon; /* Warna latar belakang lebih gelap saat hover */
}

#download:active {
  background-color: lightsalmon; /* Warna latar belakang lebih gelap saat ditekan */
}

/* STYLE FILTER */
.filters {
  margin-top: 10px;
}

.filters button {
  background: lightsalmon;
}

.filters button:hover {
  background: lightsalmon;
}

/* STYLE PHOTO PREVIEW */
#preview-container {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}
